.portfolio {
    color: rgb(0, 0, 0);
    font-family: "Monserrat-Alertnation";
    font-size: clamp(2.688rem, 2.044rem + 2.64vw, 5.375rem);//86px
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}